* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial;
}

.main {

	margin: 20%;
}

.Split{
	top: "185px"
}
.card {
	width: 20%;
	display: inline-block;
	box-shadow: 2px 2px 20px black;
	border-radius: 5px;
	margin: 2%;
	cursor: pointer;
	padding: 4%;
}


.image img {
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;



}

.title {

	text-align: center;
	padding: 10px;

}

h1 {
	font-size: 20px;
}

.des {
	padding: 3px;
	text-align: center;

	padding-top: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.EmpId{
	text-align: center;

}





/* >>Pagination<< */

.paginationBttns {
	width: 90%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.paginationBttns a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid #0516f7;
	color: #0516f7;
	cursor: pointer;
}

.paginationBttns a:hover {
	color: white;
	background-color: #0516f7;
}

.paginationActive a {
	color: white;
	background-color: #a8abda;
}